* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --header-icons-color: #fff;
  --header-bg: #24292e;
  --header-text-color: rgba(255, 255, 255, 0.7);
  --text-color: #24292e;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
}

.header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--header-text-color);
  flex-wrap: nowrap;
  justify-content: space-between;

  svg {
    fill: var(--header-icons-color);
  }

  .logo-search-nav {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 16px;

      .header-icon {

      }
    }

    .search-nav {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      label {
        min-height: 28px;
        width: 100%;
        max-width: 100%;
        font-weight: 400;
        border: 1px solid #444d56;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        color: #fff;
        margin-right: 16px;

        input {
          min-height: 28px;
          outline: none;
          display: table-cell;
          width: 100%;
          padding-top: 0;
          padding-bottom: 0;
          font-size: inherit;
          color: inherit;
          background: none;
          border: 0;
          box-shadow: none;
          line-height: 20px;
          padding: 5px 12px;
          vertical-align: middle;

          &::placeholder {
            color: #C8C9CA;
          }
        }

        img {
          margin-right: 8px;
        }
      }

      nav {
        display: flex;
        align-self: auto;
        flex-direction: row;
        color: #fff;

        a {
          color: inherit;
          text-decoration: none;
          font-weight: 600;
          font-family: inherit;
          white-space: nowrap;
          margin-right: 16px;
        }
      }
    }
  }

  .tools-row {
    display: list-item;
    flex-wrap: nowrap;
    display: flex;

    a {
      display: flex;
      align-items: center;
      position: relative;

      .drop-down {
        color: #fff;
        width: 0;
        height: 0;
        vertical-align: middle;
        content: '';
        border-top-style: solid;
        border-top-width: 4px;
        border-right: 4px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 4px solid transparent;
        margin-left: 3px;
      }

      .notification {
        position: absolute;
        top: -6px;
        left: 6px;
        z-index: 2;
        width: 14px;
        height: 14px;
        color: var(--color-text-white);
        background-image: linear-gradient(#54a3ff,#006eed);
        background-clip: padding-box;
        border: 2px solid #24292e;
        border-radius: 50%;
      }

      img {
        border-radius: 100%;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }


}

main {
  position: relative;
  z-index: 0;
  .tab-nav {
    margin-top: 24px;
    display: block;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #eaecef;
    z-index: 3;

    &.sticky {
      .nav-container {
        .user-profile {
          opacity: 0;
        }
      }
    }

    .nav-container {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 32px;
      display: flex;

      .user-profile {
        width: 25%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-shrink: 0;
        padding: 0 16px;
        transition: opacity 0.2s;

        .image {
          padding: 8px 8px 8px 0;

          img {
            align-items: center;
            border-radius: 100%;
            width: 32px;
            vertical-align: middle;
          }
        }

        .login {
          line-height: 1.25;
          vertical-align: middle;
          font-weight: 600;
          color: var(--text-color);
        }
      }

      nav {
        display: flex;

        .nav-item {
          padding: 8px 16px;
          line-height: 30px;
          color: var(--text-color);
          text-align: center;
          white-space: nowrap;
          border: 0;
          border-bottom: 2px solid transparent;
          text-decoration: none;
          transition: .12s ease-out;

          .counter {
            display: inline-block;
            min-width: 20px;
            padding: 0 6px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            color: var(--color-counter-text);
            text-align: center;
            background-color: rgba(209, 213, 218, 0.5);
            border: 1px solid transparent;
            border-radius: 2em;
          }

          &:hover {
            border-bottom-color: #d1d5da;
          }

          &.selected {
            font-weight: 600;
            color: #24292e;
            border-bottom-color: #f9826c;
            outline: 1px dotted transparent;
            outline-offset: -1px;
          }

          svg {
            margin-right: 4px;
            fill: #959da5;
            vertical-align: text-bottom;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    padding-right: 32px;
    padding-left: 32px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    #user {
      width: 25%;
      padding-right: 16px;
      padding-left: 16px;
      margin-top: -32px;
      // z-index: 1;

      .avatar {
        position: relative;
        transition: opacity 0.2s;
        z-index: 4;

        &.sticky {
          opacity: 0;
        }

        .avatar-img {
          width: 100%;
          height: auto;
          border-radius: 100%;
        }

        .g-emoji {
          font-size: 1.25em;
          font-family: Apple Color Emoji,Segoe UI,Segoe UI Emoji,Segoe UI Symbol;
          font-size: 1em;
          font-style: normal!important;
          font-weight: 400;
          line-height: 1;
          vertical-align: -.075em;
          position: absolute;
          bottom: 0;
          left: 100%;
          z-index: 2;
          width: 38px;
          height: 38px;
          margin-bottom: 32px;
          margin-left: -40px;
          padding: 8px;
          background-color: #fff;
          border-radius: 100%;
          border: 1px solid #e1e4e8;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          box-shadow: 0 1px 0 rgba(27,31,35,0.04);
        }
      }

      .user-info {
        padding-top: 16px;
        padding-bottom: 16px;
        transition: 0.2s;

        &.sticky {
          opacity: opacity 0;
        }

        .name {
          font-size: 26px;
          line-height: 1.25;
          font-weight: 600;
        }

        .login {
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px;
          color: #586069;
        }
      }

      .bio {
        font-size: 16px;
      }
    }

    #repos {
      padding-right: 16px;
      padding-left: 16px;
      width: 75%;

      .repos-search {

      }

      ul {
      width: 100%;

        li {
          list-style: none;
          display: flex;
          padding-top: 24px;
          padding-bottom: 24px;
          border-bottom: 1px solid #e1e4e8;

          .repo-details {
            width: 75%;

            .repo-name {
              margin-bottom: 4px;

              a {
                color: #0366d6;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                line-height: 1.5;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .description {
              padding-right: 24px;
              margin-bottom: 8px;
              color: #586069;
              width: 75%;
              font-size: 14px;
              display: inline-block
            }

            .meta {
              margin-right: 16px;
              font-size: 12px;
              color: #586069;
              margin-top: 8px;

              .meta-item {
                &:not(:last-child) {
                  margin-right: 16px;
                }

                svg {
                  fill: #586069;
                  vertical-align: text-bottom;
                }

                &.language {

                  .language-color {
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border: 1px solid rgba(27, 31, 35, 0.1);
                    border-radius: 50%;
                    margin-right: 0;
                  }

                  .language-text {
                  }
                }
              }
            }

          }

          .btn-col {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
              padding: 3px 12px;
              font-size: 12px;
              line-height: 20px;
              color: #24292e;
              font-weight: 500;
              border: 1px solid rgba(27, 31, 35, 0.15);
              border-radius: 6px;
              vertical-align: middle;
              cursor: pointer;
              appearance: none;
              display: flex;
              align-items: center;
              background-color: #fafbfc;
              transition: 0.2s;

              &:hover {
                background-color: #EFEFEF;
              }


              svg {
                vertical-align: text-top;
                fill: #6a737d;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1012px) {
  .header {
      padding-right: 32px;
      padding-left: 32px;
  }
}
